@import "tailwindcss";

:root {
  --background: #ffffff; 
  --foreground: #171717; 
}


.dark {
  --background: #171717; 
  --foreground: #ffffff; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-opensans: var(--font-opensans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: MontSerrat, OpenSans;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}