@import "tailwindcss";

:root {
  --background: #ffffff; 
  --foreground: #171717; 
}

.dark {
  --background: #171717; 
  --foreground: #ffffff; 
}

.slick-prev:before,
.slick-next:before {
  color: var(--foreground) !important;
}

.dark .slick-prev:before,
.dark .slick-next:before {
  color: var(--foreground) !important;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-opensans: var(--font-opensans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: MontSerrat, OpenSans;
}

.slick-slide {
  display: flex !important;
}

.slick-slide > div {
  width: 100% !important;
  max-width: 100% !important;
  box-sizing: border-box;
}


button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

html {
  scroll-behavior: smooth;
}